html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.raffle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.raffleBody {
    display: flex;
    flex-direction: column;
}

.slot {
    width:40vh;
    height:10vh;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Arial, sans-serif;
}

.triangle {
    position: absolute;
    top: 48%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(270deg); /* Rotate the arrow */
    width: 0;
    height: 0;
    border-left: 6vh solid transparent;
    border-right: 6vh solid transparent;
    border-bottom: 18vh solid #fbff00; /* Color of the arrow, match Slot background */
}

#slot1 {
    border-bottom: 2px solid #333;
    clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%);
}

#slot7 {
    border-top: 2px solid #333;
    clip-path: polygon(0 0, 0 50%, 100% 50%, 100% 0);
}