/*
Color Pallette
    Light Tan: #f8f6d7
    Dark Tan: #fdd086
    Light Blue: #9ADBE8

*/
html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f6d7;
}

.raffle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.raffleBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slot {
    width:40vh;
    height:10vh;
    border: 2px solid #091f2c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    color: #091f2c;
    background-color: #fdd086;
}

.triangle {
    position: absolute;
    top: 47.5%;
    left:62.5%;
    transform: translate(-50%, -70%) rotate(90deg); /*Rotate the arrow*/
}

.edge {
    width: 42vh;
    height: 10vh;
    background-color: gray;
    
}

#top {
    margin-bottom: -5vh;
    z-index: 10;
}

#bottom {
    margin-top: -5vh;
    z-index: 10;
}

#slot1 {
    border-bottom: 2px solid #333;
    clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%);
}

#slot7 {
    border-top: 2px solid #333;
    clip-path: polygon(0 0, 0 50%, 100% 50%, 100% 0);
}

.LowerRaffle {
    margin-top: 10vh;
}

/* these are for the assets*/
#arrow {
    height: 10vh;
    width: auto;
}
#top-bottom {
    width: 42vh;
    height: 10vh;
    border:3px solid black;
}

/* .raffleRight{
    transform: translate(150%, 150%);
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}
#mascot {
    /* top: 10%;
    right: 10%; */
    /* height: 20vh;
    width: auto; */
    /* transform: translate(70%, -15%) */
/* } */ 