html * {
  /* font-family: Arial, sans-serif !important; !important means that font-family can't be overwritten */
  font-family: NikkyouSans;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

@font-face {
  font-family: NikkyouSans;
  src: url(NikkyouSans-mLKax.ttf);
}

.raffle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float:left;
}

.raffleBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
}

.slot {
  width:20vw;
  height:8vh;
  border: 3px solid #471E20;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.edge {
  width: 21vw;
  height: 10vh;
  background-color: #f0f0f0;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex: 1;

  
}

.Animation {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  position: absolute;
  flex: 1;
}

#slotframe {
  max-width: 45%;
  max-height: auto;
  position: static;
  z-index: 1000;

}

#animation_frame {
  max-width: 25%;
  max-height: auto;
  position: relative;
  z-index: 1000;
}

#refreshForm {
  position: absolute;
  top: 38vh;
  right: 62%;
}

#top {
  margin-bottom: -12vh;
  z-index: 1;
}

#bottom {
  margin-top: -4vh;
  z-index: 1;
}

#slot0 {
  clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%);
}

#slot9 {
  clip-path: polygon(0 0, 0 60%, 100% 60%, 100% 0);
}

.modal-content {
  background-color: #da5f5f;
  margin: auto;
  padding: 4vh;
  border: 1px solid #888;
  max-width: 90%;
  z-index:100;
}

.LowerRaffle {
  margin-top: 1vh;
  z-index:10000;
}

.winner {
  text-align: center;
  font-size: 2.5rem;
}

.close {
  color: #f0f0f0;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 100;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
